@import "../../node_modules/react-image-crop/lib/ReactCrop";

html, body, #app {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  background-color: #dfdfdf;
}

:focus {
  outline: none !important;
}
